extends layout

block link
  -var selected = 'Home'

block content  
  .jumbotron
    .container
      h1 ONWARD!
      p Duke it out in this ultimate popularity contest!
      p
        .btn-group
          button(type="button", href="#GOIUEAHNGOAUGENH").btn.btn-success New Battle
          button(type="button", href="").btn.btn-default Browse 
  .list-group
    .list-group-item-heading.h1 Recent battles
    a(href="#").list-group-item Hottest teacher
    a(href="#").list-group-item Tastiest yohgurt
    a(href="#").list-group-item What book should I read?